<%= render "shared/title", title: @article.name, subtitle: "" %>

<%= render "article_body_text" %>

<%= render "article_options" %>

<%= render "article_body_options" %>

<% if @article_bodies.count > 1 %>
  <div class="space">
    <h5>All body versions:</h5>
    <div>
      <%= will_paginate @article_bodies %>
    </div>
    <% @article_bodies.each do |body| %>
      <div class="card sspace border-dark col-12 col-sm-11 col-md-8 col-lg-6">
        <p style="margin:0;"><%= link_to "Version: #{body.version} -
          Created on: #{body.created_at.strftime("%d/%m/%Y at %I:%M%p")}",
          article_article_body_path(@article, body), class: "text-dark" %>
          <% if body.stable_version %>
            &nbsp;<b class="success">Stable</b>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>

<%= render "contributors" %>

<div>
  <p><%= link_to "Return to articles index", articles_path, class: "btn btn-success" %></p>
  <p><%= link_to "Return to your articles", user_path(current_user), class: "btn btn-success" %></p>
</div>
