<%= render "shared/title", title: @article.name, subtitle: "" %>

<% if @article_bodies.any? %>
  <div class="offset-4 offset-md-5 space">
    <%= will_paginate @article_bodies %>
  </div>

  <% @article_bodies.each do |article_body| %>
    <div class="mspace">
      <p class="space"><%= article_body.body %></p>
      <p class="small"><b>
        Created on <%= @article.created_at.strftime("%d/%m/%Y at %I:%M%p") %>
        <br />
        Version: <%= article_body.version %>
        <br />
        Version writer: <%= article_body.updater %>
        <br />
        Version created on <%= article_body.created_at.strftime("%d/%m/%Y at %I:%M%p") %>
      </b></p>
    </div>

    <% if @article.user == current_user %>
      <div class="sspace">
        <h5>Article options:</h5>
      </div>
      <div class="space">
        <%= link_to "Edit article", edit_article_path(@article), class: "btn btn-success" %>
        <u><%= link_to "Delete article", article_path(@article),
                                         method: :delete,
                                         data: {confirm: "Are you sure?"},
                                         class: "btn btn-danger" %></u>
      </div>
    <% end %>

    <div class="sspace">
      <h5>Article body options:</h5>
    </div>
    <div class="space">
      <% if @article.user == current_user || @article.contributors.include?(current_user) %>
        <%= link_to "Create a new version from this one", edit_article_article_body_path(@article, article_body),
                                          class: "btn btn-success" %>
      <% end %>
      <% if @article.user == current_user %>
        <u><%= link_to "Delete version", article_article_body_path(@article, article_body),
                                         method: :delete,
                                         data: {confirm: "Are you sure?"},
                                         class: "btn btn-danger" %></u>
      <% end %>
    </div>
  <% end %>

<% else %>
  <p class="mspace danger"><b>Body hasn't been created</b></p>
  <% if @article.user == current_user %>
    <div class="sspace">
      <h5>Article options:</h5>
    </div>
    <div class="space">
      <%= link_to "Edit article", edit_article_path(@article), class: "btn btn-success" %>
      <u><%= link_to "Delete article", article_path(@article),
                                       method: :delete,
                                       data: {confirm: "Are you sure?"},
                                       class: "btn btn-danger" %></u>
    </div>
  <% end %>

  <% if @article.user == current_user || @article.contributors.include?(current_user) %>
    <div class="sspace">
      <h5>Article body options:</h5>
    </div>
    <div class="space">
      <%= link_to "Create article body", new_article_article_body_path(@article),
                                         class: "btn btn-success" %>
    </div>
  <% end %>
<% end %>

<div class="xspace">
  <h5>Contributors:</h5>
  <% if @article.user == current_user %>
    <div class="sspace">
      <%= link_to "Add contributors", article_contributors_path(@article), class: "btn btn-success" %>
    </div>
  <% end %>
  <% if @article.contributors.any? %>
    <div class="card border-dark col-9 col-sm-8 col-md-6 col-lg-5 col-xl-5">
      <% @article.contributors.each do |contributor| %>
        <u><p style="margin:0;"><%= link_to contributor.full_name, user_path(contributor), class: "text-dark" %></p></u>
      <% end %>
    </div>
  <% else %>
    <p class="danger"><b>No contributors yet</b></p>
  <% end %>
</div>

<div>
  <p><%= link_to "Return to articles index", articles_path, class: "btn btn-success" %></p>
  <p><%= link_to "Return to your articles", user_path(current_user), class: "btn btn-success" %></p>
</div>
