<%= render "shared/title", title: "Users", subtitle: "" %>

<div class="offset-4 offset-md-5 space">
  <%= will_paginate @articles %>
</div>

<% @users.each do |user| %>
  <div class="card border-success space col-sm-12 col-lg-8">
    <div class="card-body">
      <h5 class="card-title">
        <u><%= link_to user.full_name, user_path(user), class: "text-dark" %></u>
      </h5>
      <p class="card-text">
        Number of articles: <%= user.articles.count %>
        <br />
        Signed in: <%= user.created_at.strftime("%d/%m/%Y") %>
      </p>
    </div>
  </div>
<% end %>

<div>
  <%= link_to "Return", root_path, class: "btn btn-success" %>
</div>
