<%= render "shared/title", title: "#{@user.first_name} info", subtitle: "" %>

<div class="mspace">
  <p>
    Name: <b><%= @user.full_name %></b>
    <br />
    Number of articles: <%= @articles.count %>
    <br />
    Number of contributions: <%= @contributions.count %>
    <br />
    Signed in: <%= @user.created_at.strftime("%d/%m/%Y") %>
  </p>
</div>

<div class="space">
  <h4>Articles:</h4>
</div>

<% if @articles.any? %>
  <% if @user == current_user %>
    <%= link_to "New Article", new_article_path, class: "btn btn-success mspace" %>
  <% end %>
  <% @articles.each do |article| %>
  <div class="card border-success space col-sm-12 col-lg-8">
      <div class="card-body">
        <h5>
          <u><%= link_to article.name, article_path(article), class: "text-dark" %></u>
        </h5>
        <p>Date: <u><%= article.created_at.strftime("%d/%m/%Y") %></u></p>
        <% if article.user == current_user %>
          <u><%= link_to "Delete article", article_path(article),
                                           method: :delete,
                                           data: {confirm: "Are you sure?"},
                                           class: "btn btn-danger btn-sm" %></u>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <% if @user == current_user %>
    <%= link_to "New Article", new_article_path, class: "btn btn-success mspace" %>
  <% end %>
  <div class="mspace danger">
    <h5>Still no articles to display</h5>
  </div>
<% end %>

<div class="space">
  <h4>Contributions:</h4>
</div>

<% if @contributions.any? %>
  <% @contributions.each do |article| %>
    <div class="card border-success space col-sm-12 col-lg-8">
      <div class="card-body">
        <h5>
          <u><%= link_to article.name, article_path(article), class: "text-dark" %></u>
        </h5>
        <p>
          Author: <u><%= link_to article.user.full_name, user_path(article.user), class: "text-dark" %></u>
          <br />
          Date: <u><%= article.created_at.strftime("%d/%m/%Y") %></u>
        </p>
        <% if article.user == current_user || @user == current_user %>
          <u><%= link_to "Remove", article_contributor_path(article, @user),
                                   method: :delete,
                                   data: {confirm: "Are you sure?"},
                                   class: "btn btn-danger btn-sm" %></u>
        <% end %>
      </div>
    </div>
<% end %>
<% else %>
  <div class="mspace danger">
    <h5>Not contributing to any article</h5>
  </div>
<% end %>

<div>
  <%= link_to "Return", users_path, class: "btn btn-success" %>
</div>
